@media (prefers-color-scheme: dark) {
  .page {
    --background: #121212;

    position: fixed;
    display: flex;
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .connForm input:hover{
    background-color: rgb(44, 44, 44);
  }

  .connForm button {
    max-width: 8vw;
    min-width: fit-content;
    height: 4vh;
    border-radius: 2vh;
    border: rgb(0, 140, 140) 1px solid;
    background-color: rgb(40, 40, 40);
    color: rgb(0, 140, 140);
    font-weight: bold;
    transition: all 0.3s ease;
    padding-inline: 2vw;
  }

  .connForm button:hover {
    background-color: rgb(0, 140, 140);
    color: whitesmoke;
  }

  .main {
    background-color: #1a1a1a;
  }

  .createLink p {
    color: #BBB;
    font-size: medium;
    }   
}
@media (prefers-color-scheme: light) {
  .page {
    --background: rgb(212, 212, 212);

    position: fixed;
    display: flex;
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .connForm input{
    background-color: whitesmoke;
  }

  .connForm input:hover{
    background-color: #d4d4d4;
  }

  .connForm button {
    max-width: 8vw;
    min-width: fit-content;
    height: 4vh;
    border-radius: 2vh;
    border: rgb(0, 140, 140) 1px solid;
    background-color: whitesmoke;
    color: rgb(0, 140, 140);
    font-weight: bold;
    transition: all 0.3s ease;
    padding-inline: 2vw;
  }

  .connForm button:hover {
    background-color: rgb(0, 140, 140);
    color: whitesmoke;
  }

  .main {
    background-color: #fafafa;
  }

  .createLink p {
    color: #444444;
    font-size: medium;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    padding: 1vh 3vw 3vh 3vw;
    border: 1px solid rgb(0, 140, 140);
    box-shadow: -10px 10px 10px 1px rgb(0, 80, 80);
}

.connForm {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}

.connForm input {
    margin-bottom: 2vh;
    width: 10vw;
    min-width: fit-content;
    height: 4vh;
    border-radius: 2vh;
    border: 1px solid rgb(0, 140, 140);
    padding-left: 1vh;
    font-size: small;
    transition: all 0.3s ease;
}

.createLink {
    margin-inline: 1vw;
}