/* .main {
    --background: #fff;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.page {
    overflow: hidden;
}

.topMenu {
    position: fixed;
    display: flex;
    z-index: 100;
    width: 100vw;
    height: 5vh;
    background-color: rgb(0, 140, 140);
    left: 0;
    top: 0;
    flex-direction: row;

}

.rightMenu {
    position: fixed;
    display: flex;
    z-index: 100;
    width: 5vw;
    height: 95vh;
    background-color: rgb(255, 112, 112);
    left: 95vw;
    top: 5vh;
    flex-direction: column;
}

.leftMenu {
    transform:translate(-100%, 5vh);
    width: 10vw;
    height: 98vh;
    background-color: blue;
    transition: all 0.3s ease;
}

.leftMenuOpen {
    transform:translate(0, 5vh);
    width: 10vw;
    height: 98vh;
    background-color: blue;
    transition: all 0.3s ease;
}

.LMenuButton {
    height: 5vh;
    width: 5vh;
}