:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-color-light: whitesmoke;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  /* :root {
  } */

  .page {
    --background: #121212;

    display: flex;
    min-width: min-content;
    height: fit-content;
    max-width: fit-content;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}
@media (prefers-color-scheme: light) {
  .page {
    --background: rgb(212, 212, 212);

    display: flex;
    min-width: min-content;
    height: fit-content;
    max-width: fit-content;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  html{
    background-color: var(--background);
  }
}

.MenuDiv {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TopContent {
  width: 100%;
  padding: 2vh;
  background-color: #0051a8;
  border-radius: 2vh 2vh 0 0;
  height: fit-content;
  text-align: center;
  justify-content:center;
}

.TopContent p {
  font-weight: bold;
  font-size: large;
  color: var(--font-color-light);
}

.ButContent {
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  background-color: red;
  border-radius: 0 0 2vh 2vh;
  padding: 3vh 3vh;
}

.ButContent button {
  width: 100%;
  padding: 2vh 2vw;
  background: #0070f3;
  color: var(--font-color-light);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  margin-top: 1vh;
}

.ButContent button:hover {
  background: #0051a8;
}