:root {
  --font-color-light: whitesmoke;
  --background: rgb(212, 212, 212);
  --foreground: #171717;
  
    background-image: url(../public/background/bg_login.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .page {
    --background: #121212;

    display: flex;
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}
@media (prefers-color-scheme: light) {
  .page {
    --background: rgb(212, 212, 212);

    display: flex;
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  html{
    background-color: var(--background);
  }
}
